.imageWrapper {					// Sets the background image in the header area
	height: 614px;
	background: 
		linear-gradient(
		rgba($image-overlay-color, $image-overlay-transparency), 
		rgba($image-overlay-color, $image-overlay-transparency)
		   ),
		
		url($header-image);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	border-radius: 0px 0px 40px 40px;

}


.subPageHeaderBackground {
	background-color: #fff;
}

.container {
	display: grid;
	margin-left: auto;
	margin-right: auto;
	max-width: $content-width;
	padding-top: 0px;
	padding-left: 15px;
	padding-right: 15px;
	grid-template-rows: 115px 576px auto auto 400px 200px;
	grid-template-areas: 
		"h h h h h h h h h h h h"
		"p p p p p p p p p p p p"
		"c c c c c c c c c c c c"
		"j j j j j j j j j j j j"
		"g g g g g g g g g g g g"
		"d d d d d d d d d d d d";
}

header {
	grid-area: h;
	display: flex;
}

.features {
	grid-area: c;
	display: flex;
	flex: 0 1 auto;
	align-content: flex-start;
	justify-content: flex-start;
	flex-grow: 1;
	flex-wrap: wrap;
	margin-top: 60px;
}

.feature {
	display: flex;
	padding-top: 63px;
	padding-left: 15px;
	padding-right: 15px;
	width: calc(100%/3);
}

.feature:nth-child(-n+3) {
    padding-top: 0px;   
}

.feature:nth-child(3n) {
	padding-right: 0px;
}

.feature:nth-child(3n+1) {
	padding-left: 0px;
}

.iconBack {
	color: $feature-icons-background-color;
}

.iconTop {
	color: $feature-icons-foreground-color;
}

.socialIconBack {
	color: $social-icons-background-color;
}

.socialIconTop {
	color: $social-icons-foreground-color;
}

.featureText {
	margin-left: 18px;
}

.featureText > h3 {
	color: $feature-title-color;
}

.featureText > p {
	color: $feature-text-color;
	margin-top: 8px;
	line-height: 1.5;
}

.codeContainer
{
	grid-area: g;
	height: fit-content !important;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}
.codeLogo
{
	margin-top: 100px;
	margin-bottom: 40px;
	display: flex;
	align-items: start;
	justify-content: center;
	width: 70px;
	height: 70px;
	text-align: center;
}
.codeLogo img{
	width: 100%;
	height: 100%;
}

.codeDescription{
	margin-top: 15px;
	line-height: 1.5;
	color: $feature-text-color;
	margin-bottom:  15px;
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.highlightedCode
{
	width: auto;
	display: flex;
	position: relative;
	justify-content: space-around;
}

.code
{
	margin-left: 1px;
    margin-right: auto;
    width: auto;
	transform: scale(0.5);
	height:auto;
	display: flex;
	position: flex;
	margin-top: auto;

}

//HighlightJS thinks Unity C# is SQL, so here goes.
.hljs.language-sql{
	display:table;
	border-radius: 20px;
	transform: scale(0.8);
	margin-top: 5px;
	padding-top: 0;
	padding-bottom: 5px;
	padding-right: 12px;
	padding-left: 12px;
	width: auto;
	
}

.linkToGitHub{
	color: $feature-text-color;
	margin-top: 45px;
	margin-bottom:  10px;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	width: 600px;
}

.cineContainer{
	margin-top: 50px;
	grid-area: g;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center
}

.cinelogo
{
	transform: scale(0.5);
	margin-top: 100px;
	margin-bottom: 50px;
	display: flex;
	align-items: start;
	justify-content: center;
	width: 50px;
	height: 50px;
	text-align: center;
}

.cinelogo img{
	height: 100%;
	width: 100%;
}

.cineDescription{
	line-height: 1.5;
	color: $feature-text-color;
	margin-bottom:  30px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}

.cinemachine{
	display: flex;
	justify-content: center;
}





@media only screen and (max-width: 992px)  {

	.container {
		padding-top: 0;
		height: auto;
		margin-left: 0px;
		grid-column-gap: 0px;
		grid-template-columns: 0;
		grid-template-rows: 15px 576px auto 300px 200px 300px;
		grid-template-areas: 
		"h h h h h h h h h h h h"
		"p p p p p p p p p p p p"
		"c c c c c c c c c c c c"
		"j j j j j j j j j j j j"
		"g g g g g g g g g g g g"
		"d d d d d d d d d d d d";
	}

	.imageWrapper {
		height: 514px;
	}
	
	.features {
		flex-grow: 1;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 60px;
	}

	.feature {
		display: flex;
		padding-top: 41px;
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
	}

	.feature:nth-child(-n+3) {
		padding-top: 41px;   
	}

	.feature:nth-child(1) {
		padding-top: 0px;   
	}

	.feature:nth-child(3n) {
		padding-right: 15px;
	}
	
	.feature:nth-child(3n+1) {
		padding-left: 15px;
	}.code{
	position: flex;
	margin-right: auto;
	justify-content: space-around;
}

.codeContainer {
	grid-area: j;
}
.codeTitle
{
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}
.codeDescription{
	line-height: 1.5;
	padding-right: 15px;
	margin-top: 10px;
	min-width: 120px;
	margin-bottom:  30px;
	margin-left: 40px;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
}
.code
{
	transform: scale(0.4);
}
.hljs.language-sql{

	display: table;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 15px;
	transform: scale(0.5);
	position: absolute;
}

.highlightedCode
{
	width: auto;
	display: flex;
	position: relative;
	justify-content: space-around;
}



.linkToGitHub{
	color: $feature-text-color;
	margin-top: 150px;
	margin-bottom:  10px;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.cineContainer{
	grid-area: g;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center
	
}

.cinelogo
{
	transform: scale(0.5);
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	align-items: start;
	justify-content: center;
	width: 50px;
	height: 50px;
	text-align: center;
}

.cinelogo img{
	height: 100%;
	width: 100%;
}

.cineDescription{
	line-height: 1.5;
	color: $feature-text-color;
	margin-bottom:  15px;
	padding-right: 15px;
	margin-left: 60px;
	margin-top: 30px;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}

.cinemachine{
	margin-left: 15px;
	margin-right: auto;
	display: flex;
	justify-content: center;
}




}



// Footer

footer {
	grid-area: d;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-self: end;
}

.footerText {
	color: $footer-text-color;
	display: block;
	line-height: 1.5;
	width: 100%;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
}

.footerIcons {
	padding-bottom: 70px;
	display: flex;
	flex: 0 0 100%;
	justify-content: center;
}

.footerLinks {
	display: flex;
	text-align: center;
	padding-bottom: 70px;
}

.footerLinks a {
	margin-right: 30px;
}

.footerLinks a:last-child {
	margin-right: 0px;
}

.hidden {
	display: none;
}

